body{
  /* background-color: #6c47eb; */
  background-color: #4749FC;
  background-color: #4A46FD;
  height: 100vh;
  width: -webkit-fill-available;
  
}

.home{
  /* width: -webkit-fill-available; */
  height: 90vh;
}